body {
    margin: 0;
    padding: 0;
}
.outer-wrapper {
    width: 100%;
}
.inner-wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* хедер */
.out-header {
    background-color: #EEEFF1;
}
.top-nav ul a {
    color:#34547A;
}
.top-nav ul {
    text-transform:uppercase;
}