body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.outer-wrapper {
    width: 100%;
}
.inner-wrapper {  
    max-width: 1110px;
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
}
h2 {
    text-align: center;
    font-size: 32px;
    line-height: 37px;
    margin-block-start: 0;
    margin-block-end: 0;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
}
/* хедер */
.out-header {
    background-color: #EEEFF1;
}
.top-nav ul a {
    color:#34547A;
}
.top-nav ul {
    text-transform:uppercase;
}
.top-block {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}
.top-nav li {
    display: inline-block;
    padding-left: 35px;
}
.top-midle {
    display: flex;
    margin: 100px 90px 0 90px;
    padding-bottom: 100px;
}
.millde-block-text {
    padding-left: 100px;
}
.top-p {
    line-height: 26px;
    color: #727272;
    padding: 40px 0;
}
.top-btn {
    background-color: #34547A;
    color: white;
    border: none;
    padding: 13px 25px;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.1em;
}
.img-adaptive {
    display: block;
    max-width: 100%;
    height: auto;
}
/*обо мне*/
.out-about-me {
    background-color: #E5E5E5;
}
.about-me {
    padding: 100px 0;
}
.about-me h2 {
    margin-bottom: 30px;
}
.about-me-p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    margin: 0 270px;
}
/*проекты*/
.project-out {
    background-color: #34547A;
    color: white;
}
.project {
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
}
.project-item {
    display: flex;
}
/*навыки*/
.skills-out {
    background-color: #E5E5E5;
}
.skills-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}
.skills-item {
    line-height: 26px;
    color: #727272;
}
/*как я работаю*/ 
.out-work {
    background-color:#EEEFF1 ;
}
.inner-work {
    padding: 100px 0;
}
.how-work-p {
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin: 0 270px;
    padding: 30px 0;
}
/*фото*/
.out-photo {
    background-color:#E5E5E5 ;
}
.photos {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
/*лого*/ 
.logo-out {
    background-color: #E5E5E5;
}
.logo {
    padding: 70px 0;
    display: flex;

}
.logo img:nth-child(1),
.logo img:nth-child(2),
.logo img:nth-child(3) {
    padding-right: 50px;
}
/*форма*/
.out-form {
    background-color: #EEEFF1;
}
.inner-form {
    padding: 70px 0;
}
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-p {
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin: 0 270px;
    padding: 30px 0;
}
.form {
    margin: 0 auto;
    text-align: center;
}
.name, .mail {
    width: 210px;
    border: none;
}
.name {
    margin-right: 5px;
}
.form_inputs {
    display: flex;
}
input {
    padding: 10px;
}
textarea {
    width: 450px;
    border: none;
    margin-top: 10px;
    padding: 10px 10px;
    margin-bottom: 40px;
}
.form-btn {
    background-color: #34547A;
    color: white;
    border: none;
    padding: 13px 35px;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.1em;
}
.form-b {
    text-align: center;
}
/*футер*/
.out-footer {
    background-color: #34547A;
}
.footer {
    padding: 50px 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social {
    display: flex;
}
.fa-vk {
    padding-left: 10px;
}

@media screen and (max-width: 400px) {
    .top-midle {
        display: flex;
        flex-wrap: wrap;
        margin: 0 15px;
        padding-top: 50px;
    }
    .millde-block-text {
        padding: 25px 15px;
        text-align: center;
    }
    .about-me-p {
        margin: 0 15px;
    }
    .photos {
        margin: 0 15px;
    }
    .project {
        flex-wrap: wrap;
    }
    .project-item {
        padding: 15px;
        text-align: center;
    }
    .project-group-p {
        padding-left: 10px;
    }
    .skills-inner {
        flex-direction: column;
        text-align: center;
        margin: 0 15px;
    }
    .how-work-p {
        margin: 0 15px;
    }
    .video {
        margin: 0 15px;
    }
    .logo {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo img:nth-child(1), 
    .logo img:nth-child(2), 
    .logo img:nth-child(3)  {
        padding: 0;
    }
    .form-p {
        margin: 0 15px;
    }
    .form_inputs {
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .name {
        margin: 0;
        margin-bottom: 5px;
    }
    textarea {
        width: 210px;
    }
    .footer {
        margin: 0 15px;
    }
    .top-nav li {
        padding: 5px 35px;
    }
}

@media screen and (min-width: 401px) and (max-width: 800px) {
    .top-block {
        margin: 0 15px;
    }
    .top-midle {
        display: flex;
        flex-wrap: wrap;
        margin: 0 15px;
        padding-top: 50px;
        text-align: center;
    }
    .top-midle img {
        margin: 0 auto;
        padding-bottom: 15px;
    }
    .millde-block-text {
        padding: 0;
    }
    .about-me-p {
        margin: 0;
    }
    .project {
        flex-wrap: wrap;
    }
    .project-item {
    flex-wrap: wrap;
    padding: 45px;
    } 
    .skills-inner {
        margin: 0 15px;
        flex-direction: column;
        text-align: center;
    }
    .how-work-p {
        margin: 0;
    }
    .photos {
        margin: 0 15px;
    }
    .photos>img {
        margin: 0 auto;
    }
    .logo {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo img:nth-child(1), 
    .logo img:nth-child(2), 
    .logo img:nth-child(3)  {
        padding: 0;
    }
    .footer {
        margin: 0 15px;
    }
    .form-p {
        margin: 0;
    }
}
@media screen and (min-width: 801px) and (max-width: 1030px) {
    .top-block {
        padding-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}
